# NoneBot 核心
nonebot2[fastapi]>=2.5.0,<3.0.0

# OneBot v11 适配器 (QQ)
nonebot-adapter-onebot>=2.4.6

# Minecraft 适配器
nonebot-adapter-minecraft>=1.8.2

# NoneBot 脚手架 CLI (nb run 等)
nb-cli>=1.7.4

# 伪造转发消息
nonebot-plugin-fakemsg>=0.1.9
