a2wsgi==1.10.4
aiocontextvars==0.2.2
aiodns==3.2.0
asana_kazoo==2.0.8dev
brotli==1.1.0
brotlicffi==1.1.0.0
brotlipy==0.7.0
ConfigParser==7.0.0
cryptography==38.0.4
curio==1.6
Cython==3.0.10
defusedxml==0.7.1
dirty_equals==0.7.1.post0
dl==0.1.0
docutils==0.21.2
email_validator==2.1.1
funcsigs==1.0.2
gunicorn==22.0.0
h2==4.1.0
HTMLParser==0.0.2
hypothesis==6.100.2
ipykernel==6.29.4
ipython==8.24.0
ipywidgets==8.0.4
itsdangerous==2.0.1
jnius==1.1.0
keyring==25.2.0
lockfile==0.12.2
loop==1.0.0
mtrand==0.1
numarray==1.5.1
Numeric==24.2
olefile==0.47
orjson==3.10.3
outcome==1.2.0
pickle5==0.0.12
protobuf==5.26.1
psutil==5.9.4
pydantic_core==2.18.2
PyInstaller==6.6.0
pymongo==4.7.1
pyOpenSSL==24.1.0
PyQt6==6.7.0
PySide6==6.7.0
pytest==8.2.0
railroad==0.5.0
sets==0.3.2
socksio==1.0.0
speedups==1.4.0
Sphinx==7.3.7
textual_dev==1.5.1
thread==2.0.1
threadpoolctl==3.5.0
toml==0.10.2
trio_typing==0.10.0
trove_classifiers==2024.4.10
truststore==0.9.0
ujson==5.9.0
url_parser==3.0.3
urllib3_secure_extra==0.1.0
watchgod==0.8.2
win32_setctime==1.1.0
wsproto==1.2.0
xmlrpclib==1.0.1
zstandard==0.22.0
